body {
    font-family: 'Arial', sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(/1000_F_842829597_06XxRKyN3XDrNad5zfZmRIGUdAXH6P01-transformed.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity: 0.9;
}
    @keyframes colorChange {
            0% {
                color: #8b0000;
            }
            25% {
                color: #b22222;
            }
            50% {
                color: #cd5c5c;
            }
            75% {
                color: #f08080;
            }
            100%{
                color: #8b0000;
            }
        }

        #heading{
            font-size: 30px;
            animation: colorChange 10s infinite;
            transition: color 2s ease-in-out;
        }

.container {
    background: #232121;
    padding: 20px 30px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 400px;
}

h1 {
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

.selected-info {
    background-color: #f0f8ff;
    padding: 10px;
    border: 1px solid #cce7ff;
    border-radius: 5px;
    margin-bottom: 20px;
    text-align: center;
    color: #007BFF;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #ffffff;
}

input[type="text"],
input[type="tel"],
select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 14px;
    margin-bottom: 10px;
}


.confirmation {
    text-align: center;
    padding: 20px;
    background-color: #232121;
}

.confirmation h1 {
    animation: colorChange 10s infinite;
    transition: color 2s ease-in-out;
    text-align: center;
    
}

.confirmation p {
    margin: 10px 0;
    font-size: 16px;
    color: #ffffff;
    margin-bottom: 15px;
}
@keyframes colorChange {
            0% {
                color: #8b0000;
            }
            25% {
                color: #b22222;
            }
            50% {
                color: #cd5c5c;
            }
            75% {
                color: #f08080;
            }
            100%{
                color: #8b0000;
            } 
        }